<h3>Basic Grid</h3>
<div class="p-grid">
    <div class="p-col rbc">1</div>
    <div class="p-col rbt">2</div>
    <div class="p-col rbc">3</div>    
</div>
<h3>Reverse Grid</h3>
<div class="p-grid p-dir-rev">
    <div class="p-col rbc">1</div>
    <div class="p-col rbt">2</div>
    <div class="p-col rbc">3</div>    
</div>
<h3>Column Grid</h3>
<div class="p-grid p-dir-col">
    <div class="p-col rbc">1</div>
    <div class="p-col rbt">2</div>
    <div class="p-col rbc">3</div>    
</div>
<h3>Reverse Column Grid</h3>
<div class="p-grid p-dir-col-rev">
    <div class="p-col rbc">1</div>
    <div class="p-col rbt">2</div>
    <div class="p-col rbc">3</div>   
</div>
<h3>12 Columns Grid</h3>
<div class="p-grid">
    <div class="p-col-4 rbc">4</div>
    <div class="p-col rbt">1 </div>
    <div class="p-col rbc">1 </div>
    <div class="p-col rbt">1 </div>
    <div class="p-col rbc">1 </div>
    <div class="p-col rbt">1 </div>
    <div class="p-col rbc">1 </div>
    <div class="p-col rbt">1 </div>
    <div class="p-col rbc">1 </div>
</div>
<div class="p-grid">
    <div class="p-col-2 rbc">2</div>
    <div class="p-col-6 rbt">6</div>
    <div class="p-col-4 rbc">4</div>
</div>
<h3>Multi-line Column Grid</h3>
<div class="p-grid">
    <div class="p-col-6 rbc">6</div>
    <div class="p-col-6 rbt">6</div>
    <div class="p-col-6 rbc">6</div>
    <div class="p-col-6 rbt">6</div>
</div>
<h3>Fixed-width Grid</h3>
<div class="p-grid">
    <div class="p-col-fixed rbc" style="width:100px;">Fixed-100px</div>
    <div class="p-col rbt">Auto</div>
</div>
<h3>Responsive Grid</h3>
<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3 rbc">A</div>
    <div class="p-col-12 p-md-6 p-lg-3 rbt">B</div>
    <div class="p-col-12 p-md-6 p-lg-3 rbc">C</div>
    <div class="p-col-12 p-md-6 p-lg-3 rbt">D</div>
</div>