<h3>Basic Grid</h3>
<div class="p-grid">
    <div class="p-col rbc marg-right">1</div>
    <div class="p-col rbt">2</div>
    <div class="p-col rbc marg-left">3</div>    
</div>
<h3>Reverse Grid</h3>
<div class="p-grid p-dir-rev">
    <div class="p-col rbc marg-left">1</div>
    <div class="p-col rbt">2</div>
    <div class="p-col rbc marg-right">3</div>    
</div>
<h3>Column Grid</h3>
<div class="p-grid p-dir-col">
    <div class="p-col rbc marg-bottom">1</div>
    <div class="p-col rbt">2</div>
    <div class="p-col rbc marg-top">3</div>    
</div>
<h3>Reverse Column Grid</h3>
<div class="p-grid p-dir-col-rev">
    <div class="p-col rbc marg-top">1</div>
    <div class="p-col rbt">2</div>
    <div class="p-col rbc marg-bottom">3</div>   
</div>
<h3>12 Columns Grid</h3>
<div class="p-grid">
    <div class="p-col-4 rbc marg-right marg-bottom">4</div>
    <div class="p-col rbt marg-bottom">1 </div>
    <div class="p-col rbc marg-left marg-bottom">1 </div>
    <div class="p-col rbt marg-left marg-bottom">1 </div>
    <div class="p-col rbc marg-left marg-bottom">1 </div>
    <div class="p-col rbt marg-left marg-bottom">1 </div>
    <div class="p-col rbc marg-left marg-bottom">1 </div>
    <div class="p-col rbt marg-left marg-bottom">1 </div>
    <div class="p-col rbc marg-left marg-bottom">1 </div>
</div>
<div class="p-grid">
    <div class="p-col-2 rbc marg-right marg-top marg-bottom">2</div>
    <div class="p-col-6 rbt marg-top">6</div>
    <div class="p-col-4 rbc marg-top">4</div>
</div>
<h3>Multi-line Column Grid</h3>
<div class="p-grid">
    <div class="p-col-6 rbc marg-right marg-bottom">6</div>
    <div class="p-col-6 rbt marg-right marg-bottom">6</div>
    <div class="p-col-6 rbc">6</div>
    <div class="p-col-6 rbt">6</div>
</div>
<h3>Fixed-width Grid</h3>
<div class="p-grid">
    <div class="p-col-fixed rbc marg-right" style="width:100px;">Fixed-100px</div>
    <div class="p-col rbt">Auto</div>
</div>
<h3>Responsive Grid</h3>
<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3 rbc marg-bottom">A</div>
    <div class="p-col-12 p-md-6 p-lg-3 rbt marg-bottom">B</div>
    <div class="p-col-12 p-md-6 p-lg-3 rbc marg-bottom">C</div>
    <div class="p-col-12 p-md-6 p-lg-3 rbt">D</div>
</div>
<h3>Justify Between Grid</h3>
<div class="p-grid p-justify-between">
    <div class="p-col-2 rbc">2</div>
    <div class="p-col-1 rbt">1</div>
    <div class="p-col-4 rbc">4</div>
</div>