/* Add application styles & imports to this file! */
.rbc{
  background-color: skyblue;
}
.rbt{
  background-color: tan;
}
.marg-left{
  margin-left: 0.5em !important; 
}
.marg-right{
   margin-right: 0.5em !important;
}
